#q1, #q2, #q3{
    border: 2px solid #000;
    width: 400px;
    padding: 20px;
}

/* 表示・非表示の切り替え */
.question, .result {
    display: none;
}
#q1.is_open, #q2.is_open, #q3.is_open, #result_area.is_open {
    display: block;
}

/* ラジオボタンのカスタマイズ */
/* <label>間の間隔（左側） */
/* label ~ label {
    margin-left: 20px;
}
input[type=radio] {
    margin-right: 8px;
    display: none;
}
#gender label {
    position: relative;
    padding-left: 25px;
}
#gender input[type=radio] + label::before {
    position: absolute;
    content: '';
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #fff;
    border: 1px solid #ddd;
    left: 0;
    top: 0;
  }
#gender  input[type=radio] + label::after {
    position: absolute;
    content: '';
    display: block;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: #40bb73;
    left: 3px;
    top: 3px;
    opacity: 0;
    transition: .3s;
  }
#gender input[type=radio]:checked + label::after {
   opacity: 1;
  } */