html {
    height: 100%;
    margin: 0;
    font-family: 'Noto Sans JP', sans-serif;
}

html::after {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    z-index: -10;
    background-color: #ffffff;
}

/* header */
header {
    height: 10%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}
.bg {
    position: relative;
    width: 100%;
    height: 100%;
}

.bg::before {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.377);
}

#mypage {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    color: #000000;
    display: inline-block;
    text-decoration: none;
}

#logo {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 5px;
    width: 250px;
}

/* #menu {
    position: fixed;
    top: 0;
    left: 0;
    content: '';
    background-color: rgba(0, 0, 0, 0.192);
    width: 10%;
    height: 100%;
    z-index: 1;
} */

/* body */
body {
    margin: 0;
    z-index: -1;
}

main {
    position: relative;
    /* margin-left: 12%;
    margin-right: 2%; */
}

.headImg {
    position: relative;
    width: 100%;
    height: 500px;
}

.headImg::after {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.219);
}

.headImg img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 0;
    content: '';
    background-color: #ffffff;
    z-index: -1;
}

.headImg p {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 5px 30px;
    z-index: 1;
    font-size: 2em;
    font-family: 'Shippori Mincho', serif;
    color: #000000;
    background-color: #ffffff;
    /* background: rgb(252,164,203);
    background: radial-gradient(circle, rgba(252,164,203,1) 0%, rgba(63,136,223,1) 100%); */
    /* background: rgb(62,86,175);
    background: linear-gradient(137deg, rgba(62,86,175,1) 0%, rgba(217,92,51,1) 100%); */
}

.employee {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* column-gap: 50px; */
    margin: 0 50px 100px 50px;
}

.section_title {
    text-align: center;
    margin: 0 30px 40px 30px;
    color: #000000;
    border-bottom: solid 1px #000000;
    padding-bottom: 20px;
    font-size: 2em;
    font-family: 'Shippori Mincho', serif;
    letter-spacing: 0.2em;
}