@charset "UTF-8";
html {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: 'Noto Sans JP', sans-serif;
}

/* header */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10%;
    z-index: 10;
}
.bg {
    position: relative;
    width: 100%;
    height: 100%;
}

.bg::before {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.377);
}

#mypage {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    color: #000000;
    display: inline-block;
    text-decoration: none;
}

#logo {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 5px;
    width: 250px;
}

/* body */
body {
    margin: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.headImg {
    position: relative;
    width: 100%;
    height: 400px;
}

.headImg::after {
    position: fixed;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 400px;
    background-color: #447fcc;
    /* background-color: rgba(146, 180, 189, 0.253); */
    z-index: -10;
}

/* .headImg img {
    position: fixed;
    width: 100%;
    height: 500px;
    object-fit: cover;
    margin: 0;
    content: '';
    z-index: -100;
} */

.headImg p {
    position: fixed;
    top: 200px;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 10px 80px;
    font-size: 2.5em;
    font-family: 'Shippori Mincho', serif;
    color: #000000;
    background-color: #ffffffc5;
    z-index: -1;
    margin: 0;
}

/* main */
main {
    position: absolute;
    top: 400px;
    left: 0;
    width: 100%;
    margin: 0;
    background-color: rgb(255, 255, 255);
}

.btn {
    position: relative;
    width: 300px;
    height: 80px;
    margin: 30px 50%;
    transform: translateX(-50%);
    display: flex;
    line-height: 80px;
    text-decoration: none;
}

.btn_text {
    width: 100%;
    height: 100%;
    font-family: 'Noto Sans JP', sans-serif;
    text-align: center;
    background-color: #ffffff;
    color: #447fcc;
    border: 1px solid #447fcc;
    z-index: 10;
}

.btn_text::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 1px;
    bottom: -1px;
    width: 0;
    display: block;
    background-color: #447fcc;
    transition: .2s;
    z-index: -1;
}

.btn_text:hover {
    color: #ffffff;
}

.btn_text:hover::before {
    width: 100%;
}

.employee {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 50px 100px 50px;
}

.section_title {
    text-align: center;
    margin: 0 30px 40px 30px;
    color: #000000;
    border-bottom: solid 1px #000000;
    padding-bottom: 20px;
    font-size: 2em;
    font-family: 'Shippori Mincho', serif;
    letter-spacing: 0.2em;
}