@charset "UTF-8";
*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: 'Noto Sans JP', sans-serif;
}

/* header */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    border-bottom: 1px solid #ffffff;
    background-color: #005CAF;
    z-index: 10;
    transition: .5s;
}
.bg {
    position: relative;
    width: 100%;
    height: 100%;
}
#mypage {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    color: #ffffff;
    display: inline-block;
    text-decoration: none;
}
#logo {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 5px;
    width: 200px;
}
header.scroll-nav {
    background-color: #005CAF;
    border-bottom: none;
}

/* body */
body {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #ffffff;
    /* background: rgb(0,92,175);
    background: linear-gradient(180deg, rgba(0,92,175,1) 0%, rgba(0,90,172,1) 50%, rgba(255,255,255,1) 100%); */
}
main {
    margin: 0 ;
    padding: 80px 0 0 0 ;
}
.container {
    width: 500px;
    margin: 0 auto;
}
h1 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
    color: #005CAF;
    font-size: 3em;
    font-family: 'Archivo Black', sans-serif;
    font-style: italic;
}
.text {
    padding-top: 20px;
    text-align: center;
    margin-bottom: 30px;
}
.register_id {
    width: 200px;
    margin: 0 auto;
    text-align: center;
    font-size: 1.2em;
    color: #005CAF;
}
a {
    display: block;
    text-align: center;
    width: 180px;
    margin: 10px auto;
    padding: 8px;
    text-decoration: none;
    font-size: 1em;
    font-family: 'Noto Sans JP', sans-serif;
    font-family: 'Archivo Black', sans-serif;
    font-weight: lighter;
    cursor: pointer;
    transition: 0.25s;

    background-color: #005CAF;
    border: 1px solid #ffffff;
    border-radius: 3px;
    color: #ffffff;
}
a:hover {
    background-color: #1f72bb;
}