@charset "UTF-8";
*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: 'Noto Sans JP', sans-serif;
}

/* header */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    border-bottom: 1px solid #ffffff;
    background-color: #005CAF;
    z-index: 10;
    transition: .5s;
}
.bg {
    position: relative;
    width: 100%;
    height: 100%;
}
#mypage {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    color: #ffffff;
    display: inline-block;
    text-decoration: none;
}
#logo {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 5px;
    width: 200px;
}
header.scroll-nav {
    background-color: #005CAF;
    border-bottom: none;
}

/* body */
body {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #ffffff;
    /* background: rgb(0,92,175);
    background: linear-gradient(180deg, rgba(0,92,175,1) 0%, rgba(0,90,172,1) 50%, rgba(255,255,255,1) 100%); */
}
main {
    margin: 0 ;
    padding: 80px 0 0 0 ;
}
.container {
    width: 450px;
    margin: 0 auto;
}
main {
    margin: 0 ;
    padding: 80px 0 0 0 ;
}
p {
    padding-top: 10px;
    padding-bottom: 30px;
    text-align: center;
    color: #005CAF;
    font-size: 3em;
    font-family: 'Archivo Black', sans-serif;
    font-style: italic;
}
.item {
    margin:0 0px 15px 0px;
    border-bottom: 1px solid #b6b6b6;
    padding-bottom: 10px;
}
span.label {
    display: inline-block;
    padding-left: 50px;
    margin-right: 50px;
    width: 200px;
    font-weight: bold;
    color: #005CAF;
}
span.data {
    display: inline-block;
    width: 150px;
    margin-right: 0;
}
.link {
    text-align: center;
}
a {
    display: inline-block;
    text-decoration: none;
    font-size: 1em;
    font-family: 'Noto Sans JP', sans-serif;
    padding: 5px;
    margin: 20px 15px;
    width: 100px;
    cursor: pointer;
    transition: 0.25s;
}
#edit {
    background-color: #ffffff;
    border: 1px solid #005CAF;
    border-radius: 3px;
    color: #005CAF;
}
#edit:hover {
    background-color: #dadada;
}
#register {
    background-color: #005CAF;
    border: 1px solid #ffffff;
    border-radius: 3px;
    color: #ffffff;
}
#register:hover {
    background-color: #1f72bb;
}