.works_modal_open {
    position: relative;
      cursor: pointer;
  }

  /* modal text*/
  .title {
    text-align: center;
    font-size: 1.2em
  }
  .stuInfo {
    margin: 20px auto;
    width: fit-content;
    line-height: 2em;
  }
  .copy-btn {
    display: block;
    margin: 0 auto;
    padding: 5px;
    background-color: #ffffff;
    color: #09bb7a;
    border: 1px solid #09bb7a;
    border-radius: 2.3px;
    transition: .2s;
  }
  .copy-btn:hover {
    background-color: #09bb7a;
    color: #ffffff;
  }
  .tag {
    font-weight: bold;
    color: #09bb7a;
    margin-right: 30px;
}
.comment {
    display: flex;
}
.comment_tag {
    display: block;
    width: 130px;
}
.comment_data {
    display: block;
    width: 338.9px;
    min-height: 50px;
    line-height: 1.3em;
    margin-top: 5px;
    padding: 4px 8px 6px 8px;
    border: 1px solid #b3b3b3;
}

  /* ------works_modal css------ */
  .works_modal_wrapper {
      position: fixed;
      display: flex;
      align-items: center;
      width: 100vw;
      height: 100vh;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      border: none;
      opacity: 0;
      z-index: -1;
  }
  .works_modal_window {
      width: 80vh;
      margin: auto;
      padding: 40px 80px;
      background: #fff;
      z-index: 1;
  }
  .works_modal_content {
      margin-top: 0;
      width: 100%;
      height: 80%;
  }
  .works_modal_mask {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.7);
  }
  .works_modal_close {
      z-index: 300;
      position: absolute;
      top: 0;
      right: 10px;
      color: #808080;
      font-size: 1.5rem;
      cursor: pointer;
  }
  .works_modal_close:hover {
      color: #000;
      transition: all .5s;
  }
  html.is_open, body.is_open {
      overflow: hidden;
  }
  .works_modal_wrapper.is_open {
      opacity: 1;
      z-index: 300;
  }
  .works_modal_wrapper.is_open .works_modal_window {
      opacity: 1;
      transform: translateY(0);
  }
  .works_modal_wrapper.is_close {
      z-index: 300;
      opacity: 1;
  }
  .works_modal_wrapper.is_close .works_modal_window {
      transform: translateY(-30px);
      opacity: 0;
  }
