#main {
    text-align: center;
    margin: 0 auto;
    border: 2px solid gray;
    border-radius: 20px;
    padding: 40px;
    width: 60%;
}
#question_area {
    font-size: 1.5em;
}
.txt_hide {
    display: none;
}
.txt_display {
    display: block;
}
#btn_area {
    margin-top: 30px;
}
#btn_yes, #btn_no {
    display: inline-block;
    text-decoration: none;
    width: 100px;
    color: #ffffff;
    text-align: center;
    padding: 10px;
}
#btn_yes {
    background: #00a03e;
    opacity: 0.7;
}
#btn_yes:hover,
#btn_no:hover {
    opacity: 1;
}
#btn_no {
    background: #ffa200;
    opacity: 0.7;
}