@charset "UTF-8";
*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: 'Noto Sans JP', sans-serif;
}

/* header */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    border-bottom: 1px solid #ffffff;
    background-color: #09bb7a;
    z-index: 10;
    transition: .5s;
}
.bg {
    position: relative;
    width: 100%;
    height: 100%;
}
#logo {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 5px;
    width: 200px;
}

/* body */
body {
    position: relative;
    width: 100%;
    background-color: #ffffff;
}
main {
    width: 100%;
    height: 100%;
    padding: 100px 30px 100px 30px;
}
h1 {
    font-size: 1.2em;
    font-weight: normal;
    padding-bottom: 10px;
    border-bottom: 1px solid #6d6d6d;
    margin-bottom: 50px;
}
table {
    width: fit-content;
    margin: 0 auto;
}
.btn_list {
    width: fit-content;
    margin: 0 auto;
}
form {
    display: inline-block;
}
button {
    display: inline-block;
    appearance: none;
    cursor: pointer;
    font-family: 'Noto Sans JP', sans-serif;
}
button.schedule {
    margin: 10px auto;
    font-size: 1em;
    padding: 8px 15px;
    transition: 0.25s;
    background-color: #09bb7a;
    border: 1px solid #ffffff;
    border-radius: 5px;
    color: #ffffff;
}
button.schedule:hover {
    background-color: #25da97;
}