/* Loading Block */
#loading {
    width: 100vw;
    height: 100vh;
    transition: all 2s;
    background-color: #005CAF;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
  }
  .spinner {
    width: 100px;
    height: 100px;
    margin: 200px auto;
    background-color: #fff;
    border-radius: 100%;
    animation: sk-scaleout 1.0s infinite ease-in-out;
  }
  /* Loading Animation */
  @keyframes sk-scaleout {
    0% {
      transform: scale(0);
    } 100% {
      transform: scale(1.0);
      opacity: 0;
    }
  }
  
  /* Hide Loading Block */
  .loaded {
    visibility: hidden;
    animation: opacity 2.0s;
  }

/* Loading Animation */
@keyframes opacity {
    0% {
        opacity: 1;
    } 100% {
        opacity: 0;
    }
    }