@charset "UTF-8";
*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
    font-family: 'Noto Sans JP', sans-serif;
}
html {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: 'Noto Sans JP', sans-serif;
}

/* header */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    border-bottom: 1px solid #ffffff;
    background-color: #005CAF;
    z-index: 10;
    transition: .5s;
}
.bg {
    position: relative;
    width: 100%;
    height: 100%;
}
#home {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    color: #ffffff;
    display: inline-block;
    text-decoration: none;
}
#logo {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 5px;
    width: 200px;
}

/* body */
body {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #ffffff;
}
main {
    margin: 0 ;
    padding: 100px 30px 100px 30px;
}
h1 {
    font-size: 1.2em;
    font-weight: normal;
    margin-bottom: 10px;
}
h2 {
    text-align: center;
    color: #005CAF;
    font-weight: bold;
}
i {
    margin-right: 8px;
}
i.fa-user {
    margin-left: 1px;
    margin-right: 9px;
}
.top {
    display: flex;
    border-bottom: 1px solid #6d6d6d;
    margin-bottom: 30px;
    justify-content: space-between;
}
.link {
    margin-top: 8px;
}
.link_top {
    position: relative;
    text-decoration: none;
    color: #7e7e7e;
    margin-left: 10px;
    margin-right: 10px;
}
.link_top::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 0%;
    border-bottom: 1px solid #888888;
    transition: .25s;
}
.link_top:hover::before {
    width: 100%;
}
.rsv_list {
    margin: 10px auto;
}
.rsv_content {
    margin: 20px auto 30px auto;
    padding: 15px 35px;
    width: fit-content;
    border: 1px solid #005CAF;
    border-radius: 8px;
    /* display: flex; */
}
.rsv_text {
    width: 446px;
    line-height: 2em;
}
.tag {
    font-weight: bold;
    color: #005CAF;
    margin-right: 10px;
}
.comment {
    display: flex;
}
.comment_tag {
    display: block;
    width: 105.1px;
}
.comment_data {
    display: block;
    width: 338.9px;
    min-height: 50px;
    line-height: 1.3em;
    margin-top: 2px;
    padding: 4px 8px 6px 8px;
    border: 1px solid #b3b3b3;
}
button[type=submit] {
    display: block;
    appearance: none;
    cursor: pointer;
    font-family: 'Noto Sans JP', sans-serif;

    width: 80px;
    font-size: 1em;
    padding: 5px 15px;
    margin: 20px auto 0 auto;
    transition: 0.25s;
    border: 1px solid #005CAF;
    border-radius: 5px;
    background-color: #005CAF;
    color: #ffffff;
}
button[type=submit]:hover {
    background-color: #1c7acd;
}
.not_cancel {
    margin: 15px auto 0 auto;
    width: fit-content;
}
.container {
    width: fit-content;
    margin: 0 auto;
}
a.login {
    display: block;
    text-align: center;
    width: 180px;
    margin: 10px auto;
    padding: 8px;
    text-decoration: none;
    font-size: 1em;
    font-family: 'Noto Sans JP', sans-serif;
    font-family: 'Archivo Black', sans-serif;
    font-weight: lighter;
    cursor: pointer;
    transition: 0.25s;

    background-color: #005CAF;
    border: 1px solid #ffffff;
    border-radius: 3px;
    color: #ffffff;
}
a.login:hover {
    background-color: #1f72bb;
}