.works_modal_open {
    position: relative;
      cursor: pointer;
      width: 250px;
      height: 400px;
      margin: 20px;
      color: #005CAF;
      border: 1px solid #005CAF;
      overflow: hidden;
  }
  
  .works_modal_open:hover .emp_img{
    transform: scale(1.05,1.05);
    opacity: 0.7;
    transition: .3s;
  }
  
  .works_modal_open:hover .arrow {
    background-color: #005CAF;
    color: #ffffff;
    transition: .3s;
  }
  
  .emp_img {
    position: absolute;
    top: 0;
    left: -2px;
    width: 250px;
    height: 300px;
    background-position: center;
    background-color: #ffffff;
  }
  
  .emp_data {
    position: absolute;
    top: 300px;
    left: 0px;
    width: 248px;
    height: 100px;
    padding: 10px;
    background-color: #ffffff;
  }
  
  .emp_data p,h2 {
    margin: 0;
    padding: 3px;
    font-weight: normal;
  }

  .emp_data p{
    font-size: 1em;
    letter-spacing: 0.15em;
    color: #808080;
  }
  
  .arrow {
    position: absolute;
    right: -1px;
    bottom: 98px;
    padding: 11px 15px;
    background-color: #ffffff;
    color: #005CAF;
    font-size: 1.3em;
    /* border: 1px solid #345de4; */
  }
  
  .introduction {
    text-align: left;
    overflow-x: hidden;
    margin-left: 30px;
  }
  
  .introduction h1 {
    margin-top: 0;
    font-weight: normal;
    margin-bottom: 20px;
    color: #005CAF;
  }
  .introduction i {
    color: #005CAF;
    margin-right: 5px;
  }
  .introduction p {
    font-size: 0.9em;
    margin-top: 10px;
    margin-bottom: 8px;
}
  .data_line {
    display: flex;
    font-size: 1em;
    border-bottom: 1px solid #bebebe;
    padding-bottom: 2px;
    margin-bottom: 10px;
    }
    .data_tag {
    width: 200px;
    min-width: 50px;
    font-weight: bold;
    color: #005CAF;
    }
    .data_text {
    width: 300px;
    }
  /* ------works_modal css------ */
  .works_modal_wrapper {
      position: fixed;
      display: flex;
      align-items: center;
      width: 100vw;
      height: 100vh;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      border: none;
      opacity: 0;
      z-index: -1;
  }
  .works_modal_window {
      width: 900px;
      margin: auto;
      padding: 40px 80px;
      background: #fff;
      z-index: 1;
  }
  .works_modal_content {
      text-align: center;
      margin:0 auto 30px auto;
      width: fit-content;
      height: 80%;
      display: flex;
  }
  .empimg_modal img {
    width: 200px;
    height: 250px;
    object-fit: cover;
    margin-right: 30px;
  }
  .works_modal_window a {
    display: flex;
    width: 200px;
    height: 50px;
    margin: 0 50%;
    transform: translateX(-50%);
    text-decoration: none;
    line-height: 50px;
  }
  .resv_txt {
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: #ffffff;
    color: #005CAF;
    border: 1px solid #005CAF;
    z-index: 1;
  }
  .resv_txt::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 1px;
    bottom: -1px;
    width: 0;
    display: block;
    background-color: #005CAF;
    transition: .2s;
    z-index: -1;
  }
  .resv_txt:hover {
    color: #ffffff;
  }
  .resv_txt:hover::before {
    width: 100%;
  }
  .works_modal_mask {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.7);
  }
  .works_modal_close {
      z-index: 300;
      position: absolute;
      top: 0;
      right: 10px;
      color: #808080;
      font-size: 1.5rem;
      cursor: pointer;
  }
  .works_modal_close:hover {
      color: #000;
      transition: all .5s;
  }
  html.is_open, body.is_open {
      overflow: hidden;
  }
  .works_modal_wrapper.is_open {
      opacity: 1;
      z-index: 300;
  }
  .works_modal_wrapper.is_open .works_modal_window {
      opacity: 1;
      transform: translateY(0);
  }
  .works_modal_wrapper.is_close {
      z-index: 300;
      opacity: 1;
  }
  .works_modal_wrapper.is_close .works_modal_window {
      transform: translateY(-30px);
      opacity: 0;
  }
  
  /* @keyframes works_modal_wrapper_open {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
        z-index: 300;
      }
    }
    @keyframes works_modal_window_open {
      0% {
        opacity: 0;
        transform: translateY(-30px);
      }
      100% {
        opacity: 1;
        transform: translateY(0);
      }
    }
    @keyframes works_modal_wrapper_close {
      0% {
        z-index: 300;
        opacity: 1;
      }
      100% {
        opacity: 0;
      }
    }
    @keyframes works_modal_window_close {
      0% {
        opacity: 1;
        transform: translateY(0);
      }
      100% {
        transform: translateY(-30px);
        opacity: 0;
      }
    }
     */