@charset "UTF-8";
*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: 'Noto Sans JP', sans-serif;
}

/* header */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    border-bottom: 1px solid #ffffff;
    background-color: #09bb7a;
    z-index: 10;
    transition: .5s;
}
.bg {
    position: relative;
    width: 100%;
    height: 100%;
}
#logo {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 5px;
    width: 200px;
}

/* body */
body {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
}
main {
    width: 100%;
    height: 100%;
    padding: 100px 30px 0 30px;
}
.container {
    width: fit-content;
    margin: 50px auto 0 auto;
    border: 2px solid #09bb7a;
    border-radius: 8px;
    padding: 25px 30px 20px 30px;
}
h1 {
    font-size: 1.3em;
}
p {
    margin-bottom: 5px;
}
.schedule {
    width: fit-content;
    margin: 20px auto;
}
.btn {
    text-align: center;
}
button {
    display: inline-block;
    width: 70px;
    height: 35px;
    appearance: none;
    cursor: pointer;
    font-family: 'Noto Sans JP', sans-serif;
    margin: 10px auto 0 5px;
    font-size: 1em;
    padding: 4px 15px;
    transition: 0.25s;
}
#register {
    background-color: #09bb7a;
    border: 1px solid #ffffff;
    border-radius: 5px;
    color: #ffffff;
}
#register:hover {
    background-color: #25da97;
}
#edit {
    border: 1px solid #09bb7a;
    border-radius: 3px;
    background-color: #ffffff;
    color: #09bb7a;
}
#edit:hover {
    background-color: #e9e9e9;
}
form {
    display: inline-block;
}

/* セッション切れ */
a.login {
    display: block;
    text-align: center;
    width: 180px;
    margin: 10px auto;
    padding: 8px;
    text-decoration: none;
    font-size: 1em;
    font-family: 'Noto Sans JP', sans-serif;
    font-family: 'Archivo Black', sans-serif;
    font-weight: lighter;
    cursor: pointer;
    transition: 0.25s;

    background-color: #09bb7a;
    border: 1px solid #ffffff;
    border-radius: 3px;
    color: #ffffff;
}
a.login:hover {
    background-color: #25da97;
}