@charset "UTF-8";
*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: 'Noto Sans JP', sans-serif;
}

/* header */
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    border-bottom: 1px solid #ffffff;
    background-color: #005CAF;
    z-index: 10;
    transition: .5s;
}
.bg {
    position: relative;
    width: 100%;
    height: 100%;
}
#home {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    color: #ffffff;
    display: inline-block;
    text-decoration: none;
}
#logo {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 5px;
    width: 200px;
}

/* body */
body {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #ffffff;
}
main {
    margin: 0 ;
    padding: 140px 50px 100px 50px;
}

/* 社員プロフィール */
.profile {
    display: flex;
    width: 1000px;
    margin: 0 auto 40px auto;
}
.emp_img {
    width: 250px;
    height: 350px;
    background-position: center;
}
.emp_img img {
    width: 250px;
    height: 350px;
    object-fit: cover;
}
.introduction {
    padding: 20px 40px;
    width: 750px;
    /* background-color: #005CAF; */
    border: 1px solid #b8b7b7;
    border-left: none;
}
.profile h2 {
    font-size: 1.6em;
    margin-bottom: 20px;
}
.introduction p {
    margin: 8px 0;
    font-size: 1em;
}

/* 予約内容 */
.rsv_list {
    margin: 10px auto;
}
.rsv_list h2 {
    text-align: center;
    color: #005CAF;
    font-weight: bold;
}
.rsv_content {
    margin: 10px auto 10px auto;
    padding: 20px 35px 30px 35px;
    width: fit-content;
    border: 1px solid #005CAF;
    border-radius: 8px;
    /* display: flex; */
}
.rsv_text {
    width: 446px;
    line-height: 2em;
}
.tag {
    font-weight: bold;
    color: #005CAF;
    margin-right: 10px;
}
.comment {
    display: flex;
}
.comment_tag {
    display: block;
    width: 98.1px;
}
.comment_data {
    display: block;
    width: 338.9px;
    min-height: 50px;
    line-height: 1.3em;
    margin-top: 2px;
    padding: 4px 8px 6px 8px;
    border: 1px solid #b3b3b3;
}

/* 送信ボタン */
.btn {
    width: fit-content;
    margin: 0 auto;
}
form {
    display: inline-block;
    margin: 0;
}
button {
    display: inline-block;
    appearance: none;
    outline: 0;
    border-radius: 3px;
    font-size: 1em;
    font-family: 'Noto Sans JP', sans-serif;
    padding: 5px 15px;
    margin: 20px 10px;
    cursor: pointer;
    transition: 0.25s;
    z-index: -1;
}
button#page_back {
    background-color: #ffffff;
    border: 1px solid #005CAF;
    color: #005CAF;
}
button#reserve {
    background-color: #005CAF;
    border: 1px solid #ffffff;
    color: #ffffff;
}
button#reserve:hover {
    background-color: #1f72bb;
}