@charset "UTF-8";
*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: 'Noto Sans JP', sans-serif;
}

/* header */
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    border-bottom: 1px solid #ffffff;
    background-color: #005CAF;
    z-index: 10;
    transition: .5s;
}
.bg {
    position: relative;
    width: 100%;
    height: 100%;
}
#home {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    color: #ffffff;
    display: inline-block;
    text-decoration: none;
}
#logo {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 5px;
    width: 200px;
}

/* body */
body {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #ffffff;
}
main {
    margin: 0 ;
    padding: 140px 50px 100px 50px;
}
h1 {
    font-size: 1.2em;
    font-weight: normal;
    margin-bottom: 10px;
}
.top {
    display: flex;
    border-bottom: 1px solid #6d6d6d;
    margin-bottom: 30px;
    justify-content: space-between;
}
.profile {
    display: flex;
    width: 1000px;
    margin: 0 auto 70px auto;
}
.emp_img {
    width: 320px;
    height: 470px;
    background-position: center;
}
.emp_img img {
    width: 320px;
    height: 470px;
    object-fit: cover;
}
.profile h2 {
    font-weight: normal;
    font-size: 1.8em;
    margin-bottom: 10px;
    /* color: #005CAF; */
}
.introduction {
    padding: 20px 40px;
    width: 750px;
    height: 470px;
    border: 1px solid #005CAF;
    border-left: none;
}
.introduction i {
    color: #005CAF;
}
.introduction p {
    margin-top: 10px;
    margin-bottom: 8px;
}
.data_line {
display: flex;
font-size: 1em;
border-bottom: 1px solid #bebebe;
padding-bottom: 2px;
margin-bottom: 10px;
}
.data_tag {
width: 200px;
min-width: 50px;
font-weight: bold;
color: #005CAF;
}
.data_text {
width: 600px;
}
  

/* 日程選択 */
.container {
    margin: 0 auto 0 auto;
    width: fit-content;
}
.choose_comment {
    font-weight: normal;
    margin-bottom: 30px;
    font-size: 1.4em;
    padding-bottom: 10px;
    border-bottom: 1px solid #b8b7b7;
}

/* btn */
i {
    margin-right: 8px;
}
a:link, a:visited, a:active {
    color: #333333;
}
.table {
    width: fit-content;
}
.move_btn {
    display: flex;
    justify-content: space-between;
}
.prev {
    margin-left: 97.05px;
}
.disabled_link {
    color: #c7c7c7;
}
.prev::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f137";
    margin-right: 5px;
    color: #005CAF;
}
.disabled_link::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f137";
    margin-right: 5px;
    color: #c7c7c7;
}
.next::after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f138";
    margin-left: 5px;
    color: #005CAF;
}
.usage_guide {
    font-size: 0.85em;
    text-align: right;
}

/* table */
input[type='radio'] {
    opacity: 0;
    appearance: none;
    position: absolute;
}
input[type='radio']+span::before {
    display: inline-block;
    content: '';
    width: 12px;
    height: 12px;
    border: 1px solid #a3a3a3;
    margin-top: 8px;
    cursor: pointer;
    z-index: 1;
    transition: .25s;

    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    line-height: 12px;
    color: #005CAF;
}
input[type='radio']:checked+span::before {
    content: '\f00c';
}
.topic {
    margin: 25px 0;
}
label {
    display: block;
    color: #005CAF;
    padding-left: 5px;
}
textarea {
    display: block;
    appearance: none;
    outline: 0;
    border: 1px solid #005CAF;
    border-radius: 4px;

    width: 700px;
    height: 100px;
    padding: 10px 15px;
    margin: 5px 0 30px 0;
    text-align: left;
    font-family: 'Noto Sans JP', sans-serif;
}
textarea::placeholder {
    color: #6d6d6d;
    font-size: 1.1em;
}
.btn {
    width: fit-content;
    margin: 0 auto;
}
button {
    appearance: none;
    outline: 0;
    background-color: #005CAF;
    border: 1px solid #ffffff;
    border-radius: 3px;
    color: #ffffff;
    font-size: 1em;
    font-family: 'Noto Sans JP', sans-serif;
    padding: 5px 15px;
    margin: 20px 10px;
    /* width: 100px; */
    cursor: pointer;
    transition: 0.25s;
    z-index: -1;
}
button:hover {
    background-color: #1f72bb;
}
button:disabled {
    background-color: #c7c7c7;
    cursor: default;
}
/* セッション切れ */
.container {
    width: fit-content;
    margin: 0 auto;
}
a.login {
    display: block;
    text-align: center;
    width: 180px;
    margin: 10px auto;
    padding: 8px;
    text-decoration: none;
    font-size: 1em;
    font-family: 'Noto Sans JP', sans-serif;
    font-family: 'Archivo Black', sans-serif;
    font-weight: lighter;
    cursor: pointer;
    transition: 0.25s;

    background-color: #005CAF;
    border: 1px solid #ffffff;
    border-radius: 3px;
    color: #ffffff;
}
a.login:hover {
    background-color: #1f72bb;
}