table,
tr,
td,
th {
    border-collapse: collapse;
    vertical-align: middle;
}
td,
th {
    min-width: 32px;
    text-align: center;
}
th {
    color: #2ab683;
    letter-spacing: 0.05em;
    border-bottom: 2px solid #2ab683;
    padding: 8px 8px;
}
td {
    border-bottom: 2px solid #e4e4e4;
    padding: 8px 16px;
}
i {
    margin-right: 8px;
}